<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Presidential Communications Operations Office</title>
  <!-- css -->
  <link rel="icon" href="../images/pcoo_logo.png" type="image">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../res/bs-css/bootstrap.css">
  <link rel="stylesheet" href="../res/dataTables/css/dataTables.bootstrap5.min.css">

  <!-- links -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
  <!-- sidebar -->
  <my-sidebar-admin></my-sidebar-admin>
  <!-- sidebar -->


  <main class="home-section">
    <div class="text">Employee Requests</div>

    <section class="container-xl">
      <!-- id request -->
      <div class="pt-2 border-4 border-top border-primary rounded-top" id="id_request_div">
        <h4 class="text-primary">ID Request Form</h5>
          <h6 class="mt-3">Personal Information</h6>

          <form action="" id="id_request_form" class="row gy-2 gx-2" autocomplete="off">
            <div class="col-md-4">
              <label class="text-muted small ms-2">SURNAME</label>
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>
            <div class="col-md-4">
              <label class="text-muted small ms-2">FIRST NAME</label>
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>
            <div class="col-md-4">
              <label class="text-muted small ms-2">MIDDLE NAME</label>
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>

            <div class="col-6 col-md-4">
              <label class="text-muted small ms-2">DATE OF BIRTH</label>
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>
            <div class="col-4 col-md-4">
              <label class="text-muted small ms-2">CONTACT NO.</label>
              <input type="number" name="" id="" class="form-control" value="" readonly>
            </div>
            <div class="col-2 col-md-4">
              <label class="text-muted small ms-2">BLOOD TYPE</label>
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>

            <div class="col-12">
              <label class="text-muted small ms-2">ADDRESS</label>
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>

            <div class="col-6">
              <label class="text-muted small ms-2">POSITION</label>
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>
            <div class="col-6">
              <label class="text-muted small ms-2">GSIS/SSS No</label>
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>

            <div class="col-6">
              <label class="text-muted small ms-2">TAX IDENTIFICATION NO.</label>
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>
            <div class="col-6">
              <label class="text-muted small ms-2">FUND SOURCE</label>
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>

            <div class="col-6">
              <label class="text-muted small ms-2">APPOINTMENT STATUS:</label>
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>
            <div class="col-6">
              <label class="text-muted small ms-2">DATE OF APPOINTMENT:</label>
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>

            <div class="col-6">
              <label class="text-muted small ms-2">CONTACT PERSON</label>
              <input type="text" name="" id="" class="form-control" readonly>
            </div>
            <div class="col-6">
              <label class="text-muted small ms-2">CONTACT NO.</label>
              <input type="text" name="" id="" class="form-control" readonly>
            </div>

            <div class="col-md-6 d-flex flex-column">
              <label class="text-muted small ms-2">Image of Valid ID</label>
              <img src="../images/sample.png" class="gallery-item img" style="width: 200px; cursor: pointer;">
            </div>
            <div class="col-md-6 d-flex flex-column">
              <label class="text-muted small ms-2">Image of Signature</label>
              <img src="../images/pcoo_logo.png" class="gallery-item img" style="width: 200px; cursor: pointer;">
            </div>

            <div class="col my-2 d-flex justify-content-end align-content-center">
              <button type="" class="btn btn-secondary mx-1" form="">Print</button>
              <!-- <button type="" class="btn btn-danger mx-1" form="">Decline</button>
              <button type="" class="btn btn-primary mx-1" form="">Completed</button> -->
              <button type="" class="btn btn-outline-primary mx-1" disabled>Marked as Completed</button>
            </div>
          </form>
      </div>
      <!-- id request -->

      <!-- Personnel Request Form -->
      <div class="py-2 border-4 border-top border-primary rounded-top d-none" id="personnel_request_div">
        <h5 class="text-primary">Personnel Request Form</h5>

        <form action="" id="" autocomplete="off">
          <!-- textfields -->
          <div class="row gy-2 gx-2">
            <div class="col-md-6">
              <label class="text-muted small ms-2">Complete Name </label>
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>
            <div class="col-md-6">
              <label class="text-muted small ms-2">Date </label>
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>
            <div class="col-md-6">
              <label class="text-muted small ms-2">Position/Designation </label>
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>
            <div class="col-md-6">
              <label class="text-muted small ms-2">Office </label>
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>
          </div>
          <!-- textfields -->

          <h6 class="mt-4">Employment Status:</h6>

          <!-- employment status -->
          <div class="row gy-2">
            <div class="col-md-6">
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>
          </div>
          <!-- employment status -->

          <h6 class="mt-4">Selected Request:</h6>

          <!-- request selection -->
          <div class="row gy-2">
            <div class="col-12">
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>
          </div>
          <!-- request selection -->

          <!-- purpose -->
          <h6 class="mt-3">Purpose of request:</h6>
          <textarea class="form-control" name="" id="" rows="5" value="" style="min-height: 100px;" readonly></textarea>
          <!-- purpose -->

          <div class="col my-4 d-flex justify-content-end">
            <button type="" class="btn btn-secondary mx-1" form="">Print</button>
            <button type="" class="btn btn-danger mx-1" form="">Decline</button>
            <button type="" class="btn btn-primary mx-1" form="">Completed</button>
          </div>

        </form>
      </div>
      <!-- Personnel Request Form -->

      <!-- Other Request -->
      <div class="py-2 border-4 border-top border-primary rounded-top d-none" id="other_request_div">
        <h5 class="text-primary">Other Request</h5>

        <form action="" id="other_request_form" autocomplete="off">

          <div class="row gy-2 gx-2">
            <div class="col-md-6">
              <label class="text-muted small ms-2">Complete Name </label>
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>
            <div class="col-md-6">
              <label class="text-muted small ms-2">Date </label>
              <input type="text" name="" id="" class="form-control" value="" readonly>
            </div>

            <div class="col-12">
              <label class="text-muted small ms-2">PLEASE SPECIFY YOUR REQUEST</label>
              <textarea class="form-control" name="" id="" rows="5" value="" style="min-height: 100px;" readonly></textarea>
            </div>

            <div class="col-12">
              <label class="text-muted small ms-2">Purpose to your request:</label>
              <textarea class="form-control" name="" id="" rows="3" value="" style="min-height: 100px;" readonly></textarea>
            </div>

            <div class="col my-4 d-flex justify-content-end">
              <button type="" class="btn btn-secondary mx-1" form="">Print</button>
              <button type="" class="btn btn-danger mx-1" form="">Decline</button>
              <button type="" class="btn btn-primary mx-1" form="">Completed</button>
            </div>

          </div>

        </form>
      </div>
      <!-- Other Request -->
    </section>

  </main>

  <!-- Image Viewer Modal -->
  <div class="modal fade" id="gallery-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content px-4 px-sm-2 m-auto border-0 bg-transparent" style="max-width: fit-content;">
        <div class="modal-body position-relative p-1">
          <img src="#" class="modal-img custom-view bg-light" alt="modal img" style="max-height: 800px; object-fit: contain;">
          <button type="button" class="btn-close  bg-dark shadow-none position-absolute" data-bs-dismiss="modal" style="right:2%; top:2%"></button>
        </div>

      </div>
    </div>
  </div>
  <!-- Image Viewer Modal -->

  <script src="../js/assets.js"></script>
  <script src="../js/script.js"></script>
  <script src="../res/bs-js/bootstrap.bundle.js"></script>
</body>

</html>