<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Presidential Communications Operations Office</title>
  <!-- css -->
  <link rel="icon" href="images/pcoo_logo.png" type="image">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="res/bs-css/bootstrap.css">
  <link rel="stylesheet" href="res/dataTables/css/dataTables.bootstrap5.min.css">

  <!-- links -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <!-- sidebar -->
  <my-sidebar></my-sidebar>
  <!-- sidebar -->

  <main class="home-section">
    <div class="text">Employment Information</div>
    
    <form action="" method="post" class="container-xl" autocomplete="off">
      <p class="text-primary mb-3">(View only)</p>

      <div class="row gy-2">
        <!-- <div class="col-md-6">
          <label for="engagement_duration" class="text-muted small ms-2">Engagement Duration</label>
          <input type="text" name="engagement_duration" id="engagement_duration" class="form-control" value="sample" disabled>
        </div>
        <div class="col-md-6"></div> -->

        <div class="col-md-6">
          <label for="employment_status" class="text-muted small ms-2">Employment Status</label>
          <input type="text" name="employment_status" id="employment_status" class="form-control" value="sample" disabled>
        </div>

        <div class="col-md-6">
          <label for="designation" class="text-muted small ms-2">Designation</label>
          <input type="text" name="designation" id="designation" class="form-control" value="sample" disabled>
        </div>
        
        <div class="col-md-6">
          <label for="salary" class="text-muted small ms-2">Salary</label>
          <input type="text" name="salary" id="salary" class="form-control" value="sample" disabled>
        </div>
        <div class="col-md-6"></div>

        <div class="col">
          <label for="credits" class="text-muted small ms-2">History of Personnel</label>
          <textarea class="form-control" name="credits" id="credits" rows="5" disabled></textarea>
        </div>
      </div>

    </form>
  </main>

  <!-- scripts -->
  <script src="js/assets.js"></script>
  <script src="js/script.js"></script>
  <script src="res/bs-js/bootstrap.bundle.js"></script>
  <script src="res/dataTables/js/jquery-3.5.1.js"></script>
  <script src="res/dataTables/js/jquery.dataTables.min.js"></script>
  <script src="res/dataTables/js/dataTables.bootstrap5.min.js"></script>
  <script src="res/dataTables/js/main.js"></script>

</body>

</html>