<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Presidential Communications Operations Office</title>
  <!-- css -->
  <link rel="icon" href="images/pcoo_logo.png" type="image">
  <link rel="stylesheet" href="res/bs-css/bootstrap.css">

  <style>
    body {
      height: 100%;
      background-color: rgb(82, 85, 88);
      padding-bottom: 300px;
    }

    .print-container {
      width: 8.5in;
      margin: auto;
      font-family: Helvetica, Arial, sans-serif;
      background-color: #fff;
      color: #000;
      box-shadow: 0 24px 35px 3px rgba(0, 0, 0, 0.14), 0 9px 40px 8px rgba(0, 0, 0, 0.12), 0 11px 10px -7px rgba(0, 0, 0, 0.4);
      padding: 20px 25px;
      position: relative;
    }

    .print-container>.container-fluid {
      border: 2px solid #333;
    }

    .c-mt-06 {
      margin-top: -6px !important;
    }

    footer {
      position: fixed;
      bottom: 0;
      width: 99.5%;
      box-sizing: border-box;      
      background-color: #fff;
      display: none;
    }
    @media print {
      @page {
        margin: 20px 25px 50px;
        size: legal;
        padding-bottom: 30px;
      }

      body {
        background-color: #fff;
        padding-bottom: 0;
      }

      body * {
        visibility: hidden;
      }

      .print-container {
        box-shadow: none;
        padding: 0;
        border: 2px solid #000;
        page-break-before: always;
      }

      .print-container>.container-fluid {
        border: none;
      }

      .print-container,
      .print-container * {
        visibility: visible;
        -webkit-print-color-adjust: exact !important;
        page-break-inside: avoid;
      }

      footer {
        display: block;
      }

    }
  </style>
</head>

<body>

  <div class="position-fixed" style="bottom:5%; right:5%; z-index: 5;">
    <button class="btn btn-lg btn-light border-0" onclick="window.close();">Close</button>
    <button class="btn btn-lg btn-primary" onclick="window.print()">Print Document</button>
  </div>

  <div class="print-container">
    <div class="container-fluid m-0 p-0">

      <header>
        <p class="fst-italic fw-bold smaller m-0 p-0">CS Form No. 212</p>
        <p class="fst-italic fw-bold smallest m-0 p-0">Revised 2017</p>

        <h3 class="fw-bolder mt-0 pt-0 text-center" style="letter-spacing:5px">PERSONAL DATA SHEET</h3>

        <p class="smallest fw-bold m-0 p-0">WARNING: Any misrepresentation made in the Personal Data Sheet and the Work Experience Sheet shall cause the filing of administrative/criminal case/s against the person concerned.</p>

        <div class="row smallest fw-bold m-0">
          <div class="col-9"></div>
          <div class="col-3">
            CS ID No.:
            <span class="d-inline-block border-bottom border-dark w-50"></span>
          </div>
        </div>
      </header>

      <!-- personal info -->
      <section>
        <h6 class="text-white bg-secondary fw-bolder fst-italic m-0 border-2 border-top border-dark">I. PERSONAL INFORMATION</h6>

        <div class="row m-0 p-0">

          <div class="col-4">
            <label class="smallest fw-bold">SURNAME</label>
            <p class="text-dark smaller m-0 text-uppercase">uy-sobremonte</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">FIRST NAME</label>
            <p class="text-dark smaller m-0 text-uppercase">wilvin</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">MIDDLE NAME</label>
            <p class="text-dark smaller m-0 text-uppercase">chin</p>
          </div>
          <div class="col-2">
            <label class="smallest fw-bold">SUFFIX (JR,SR)</label>
            <p class="text-dark smaller m-0 text-uppercase"></p>
          </div>

        </div>

        <div class="row m-0 p-0 border-top border-2 border-dark">
          <!-- left -->
          <div class="col-6 p-0">
            <div class="row m-0 p-0 border-end border-2 border-dark">

              <div class="col-6 border-bottom border-end border-dark">
                <label class="smallest fw-bold">DATE OF BIRTH</label>
                <p class="text-dark smaller m-0 text-uppercase">oct 7,1997</p>
              </div>
              <div class="col-6 border-bottom border-dark">
                <label class="smallest fw-bold">PLACE OF BIRTH</label>
                <p class="text-dark smaller m-0 text-uppercase">Catbalogan, Samar</p>
              </div>

              <div class="col-6 border-bottom border-end border-dark">
                <label class="smallest fw-bold">SEX</label>
                <p class="text-dark smaller m-0 text-uppercase">MALE</p>
              </div>
              <div class="col-6 border-bottom border-dark">
                <label class="smallest fw-bold">CIVIL STATUS</label>
                <p class="text-dark smaller m-0 text-uppercase">single</p>
              </div>

              <div class="col-6 border-bottom border-end border-dark">
                <label class="smallest fw-bold">HEIGHT(m)</label>
                <p class="text-dark smaller m-0">1.68</p>
              </div>
              <div class="col-6 border-bottom border-dark">
                <label class="smallest fw-bold">WEIGHT</label>
                <p class="text-dark smaller m-0">79</p>
              </div>

              <div class="col-6 border-bottom border-end border-dark">
                <label class="smallest fw-bold">BLOOD TYPE</label>
                <p class="text-dark smaller m-0 text-uppercase">O+</p>
              </div>
              <div class="col-6 border-bottom border-dark">
                <label class="smallest fw-bold">GSIS ID NO.</label>
                <p class="text-dark smaller m-0">-----</p>
              </div>

              <div class="col-6 border-bottom border-end border-dark">
                <label class="smallest fw-bold">PAG-IBIG ID NO.</label>
                <p class="text-dark smaller m-0">-----</p>
              </div>
              <div class="col-6 border-bottom border-dark">
                <label class="smallest fw-bold">PHILHEALTH NO.</label>
                <p class="text-dark smaller m-0">-----</p>
              </div>

              <div class="col-6 border-bottom border-end border-dark">
                <label class="smallest fw-bold">SSS NO.</label>
                <p class="text-dark smaller m-0">-----</p>
              </div>
              <div class="col-6 border-bottom border-dark">
                <label class="smallest fw-bold">TIN NO.</label>
                <p class="text-dark smaller m-0">-----</p>
              </div>

              <div class="col-12 border-bottom border-dark">
                <label class="smallest fw-bold">AGENCY EMPLOYEE NO.</label>
                <p class="text-dark smaller m-0">-----</p>
              </div>

              <div class="col-6 border-bottom border-end border-dark">
                <label class="smallest fw-bold">TELEPHONE NO.</label>
                <p class="text-dark smaller m-0"></p>
              </div>
              <div class="col-6 border-bottom border-dark">
                <label class="smallest fw-bold">MOBILE NO.</label>
                <p class="text-dark smaller m-0">09568077618</p>
              </div>

              <div class="col-6">
                <label class="smallest fw-bold">EMAIL ADDRESS</label>
                <p class="text-dark smaller m-0">wilvin1007@gmail.com</p>
              </div>
            </div>
          </div>
          <!-- left -->

          <!-- right -->
          <div class="col-6 p-0">
            <div class="row m-0 p-0">

              <div class="col-4 border-bottom border-dark" style="padding-bottom: 1.3px;">
                <label class="smallest fw-bold">CITIZENSHIP</label>
                <p class="text-dark smallest m-0 text-uppercase">DUAL CITIZENSHIP</p>
              </div>
              <div class="col-4 border-bottom border-dark">
                <label class="smallest fw-bold"></label>
                <p class="text-dark smallest m-0 text-uppercase text-center">BY NATURALIZATION</p>
              </div>
              <div class="col-4 border-bottom border-dark">
                <label class="smallest fw-bold">COUNTRY</label>
                <p class="text-dark smallest m-0 text-uppercase">PHILIPPINES</p>
              </div>

              <!-- residential address -->
              <div class="col-12 border-bottom border-dark p-0" style="height: 165px;">
                <label class="smaller px-2 fw-bold">RESIDENTIAL ADDRESS</label>
                <div class="row m-0 p-0">

                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">House/Block/Lot No.</label>
                    <p class="text-dark smallest m-0 text-uppercase">1995</p>
                  </div>
                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">Street</label>
                    <p class="text-dark smallest m-0 text-uppercase">juan luna</p>
                  </div>

                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">Subdivision/Village</label>
                    <p class="text-dark smallest m-0 text-uppercase">landwealth metrohomes</p>
                  </div>
                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">Barangay</label>
                    <p class="text-dark smallest m-0 text-uppercase">151</p>
                  </div>

                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">City/Municipality</label>
                    <p class="text-dark smallest m-0 text-uppercase">Manila</p>
                  </div>
                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">Province</label>
                    <p class="text-dark smallest m-0 text-uppercase">----</p>
                  </div>

                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">ZIP CODE</label>
                    <p class="text-dark smallest m-0 text-uppercase">1012</p>
                  </div>


                </div>
              </div>
              <!-- residential address -->

              <!-- permanent address -->
              <div class="col-12 p-0">
                <label class="smaller px-2 fw-bold">PERMANENT ADDRESS</label>
                <div class="row m-0 p-0">

                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">House/Block/Lot No.</label>
                    <p class="text-dark smallest m-0 text-uppercase">1995</p>
                  </div>
                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">Street</label>
                    <p class="text-dark smallest m-0 text-uppercase">juan luna</p>
                  </div>

                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">Subdivision/Village</label>
                    <p class="text-dark smallest m-0 text-uppercase">landwealth metrohomes</p>
                  </div>
                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">Barangay</label>
                    <p class="text-dark smallest m-0 text-uppercase">151</p>
                  </div>

                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">City/Municipality</label>
                    <p class="text-dark smallest m-0 text-uppercase">Manila</p>
                  </div>
                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">Province</label>
                    <p class="text-dark smallest m-0 text-uppercase">----</p>
                  </div>

                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">ZIP CODE</label>
                    <p class="text-dark smallest m-0 text-uppercase">1012</p>
                  </div>


                </div>
              </div>
              <!-- permanent address -->


            </div>
          </div>
          <!-- right -->
        </div>

      </section>
      <!-- personal info -->

      <!-- family info -->
      <section>
        <h6 class="text-white bg-secondary fw-bolder fst-italic m-0 border-2 border-top border-dark">II. FAMILY BACKGROUND</h6>
        <!-- spouse -->
        <div class="row m-0 p-0">
          <div class="col-4">
            <label class="smallest fw-bold">SPOUSE'S SURNAME</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">FIRST NAME</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">MIDDLE NAME</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-2">
            <label class="smallest fw-bold">SUFFIX (JR,SR)</label>
            <p class="text-dark smallest m-0 text-uppercase"></p>
          </div>
        </div>
        <!-- spouse -->

        <div class="row m-0 p-0 border-top border-2 border-dark">
          <!-- left -->
          <div class="col-6 p-0">
            <div class="row m-0 p-0 border-end border-2 border-dark">

              <div class="col-6 border-bottom border-end border-dark">
                <label class="smallest fw-bold">OCCUPATION</label>
                <p class="text-dark smallest m-0 text-uppercase">-----</p>
              </div>
              <div class="col-6 border-bottom border-dark">
                <label class="smallest fw-bold">EMPLOYER/BUSINESS NAME</label>
                <p class="text-dark smallest m-0 text-uppercase">-----</p>
              </div>

              <div class="col-6 border-bottom border-end border-dark">
                <label class="smallest fw-bold">BUSINESS ADDRESS</label>
                <p class="text-dark smallest m-0 text-uppercase">-----</p>
              </div>
              <div class="col-6 border-bottom border-dark">
                <label class="smallest fw-bold">TELEPHONE NO.</label>
                <p class="text-dark smallest m-0 text-uppercase">-----</p>
              </div>

              <!-- motherfather -->
              <div class="row m-0 p-0 border-bottom border-dark">
                <div class="col-6">
                  <label class="smallest fw-bold">FATHER'S SURNAME</label>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                </div>
                <div class="col-6">
                  <label class="smallest fw-bold">FIRST NAME</label>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                </div>
                <div class="col-6">
                  <label class="smallest fw-bold">MIDDLE NAME</label>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                </div>
                <div class="col-6">
                  <label class="smallest fw-bold">SUFFIX (JR,SR)</label>
                  <p class="text-dark smallest m-0 text-uppercase"></p>
                </div>
              </div>

              <div class="row m-0 p-0">
                <div class="col-6">
                  <label class="smallest fw-bold">MOTHER'S MAIDEN NAME</label>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                </div>
                <div class="col-6">
                  <label class="smallest fw-bold">SURNAME</label>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                </div>
                <div class="col-6">
                  <label class="smallest fw-bold">FIRST NAME</label>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                </div>
                <div class="col-6">
                  <label class="smallest fw-bold">MIDDLE NAME</label>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                </div>
              </div>
              <!-- motherfather -->
            </div>
          </div>
          <!-- left -->

          <!-- right -->
          <div class="col-6 p-0">
            <div class="row m-0 p-0">
              <!-- children -->
              <div class="row m-0 p-0">

                <div class="col-6 border-end border-dark">
                  <label class="smallest fw-bold">NAME of CHILDREN</label>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                </div>
                <div class="col-6">
                  <label class="smallest fw-bold">DATE OF BIRTH</label>
                  <p class="text-dark smallest m-0">-----</p>
                  <p class="text-dark smallest m-0">-----</p>
                  <p class="text-dark smallest m-0">-----</p>
                </div>
                
              </div>
              <!-- children -->
            </div>
          </div>
          <!-- right -->
        </div>



      </section>
      <!-- family info -->

      <!-- educational background -->
      <section>
        <h6 class="text-white bg-secondary fw-bolder fst-italic m-0 border-2 border-top border-dark">III. EDUCATIONAL BACKGROUND</h6>
        <!-- elementary -->
        <div class="row m-0 p-0">

          <div class="col-6">
            <label class="smallest fw-bold">NAME OF SCHOOL - (ELEMENTARY)</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-6">
            <label class="smallest fw-bold">BASIC EDUCATION/DEGREE/COURSE</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>

          <div class="col-3">
            <label class="smallest fw-bold">PERIOD OF ATTENDANCE</label>
            <p class="text-dark smallest m-0"><span>xx</span> to <span>xx</span></p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">HIGHEST LVL/UNITS EARNED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">YEAR GRADUATED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">SCHOLARSHIP/HONORS</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
        </div>
        <!-- elementary -->

        <!-- secondary -->
        <div class="row m-0 p-0">

          <div class="col-6 border-top border-dark">
            <label class="smallest fw-bold">NAME OF SCHOOL - (SECONDARY)</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-6 border-top border-dark">
            <label class="smallest fw-bold">BASIC EDUCATION/DEGREE/COURSE</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>

          <div class="col-3">
            <label class="smallest fw-bold">PERIOD OF ATTENDANCE</label>
            <p class="text-dark smallest m-0"><span>xx</span> to <span>xx</span></p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">HIGHEST LVL/UNITS EARNED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">YEAR GRADUATED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">SCHOLARSHIP/HONORS</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
        </div>
        <!-- secondary -->

        <!-- VOCATIONAL / TRADE COURSE -->
        <div class="row m-0 p-0">

          <div class="col-6 border-top border-dark">
            <label class="smallest fw-bold">NAME OF SCHOOL - (VOCATIONAL / TRADE COURSE)</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-6 border-top border-dark">
            <label class="smallest fw-bold">BASIC EDUCATION/DEGREE/COURSE</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>

          <div class="col-3">
            <label class="smallest fw-bold">PERIOD OF ATTENDANCE</label>
            <p class="text-dark smallest m-0"><span>xx</span> to <span>xx</span></p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">HIGHEST LVL/UNITS EARNED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">YEAR GRADUATED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">SCHOLARSHIP/HONORS</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
        </div>
        <!-- VOCATIONAL / TRADE COURSE -->

        <!-- COLLEGE -->
        <div class="row m-0 p-0">

          <div class="col-6 border-top border-dark">
            <label class="smallest fw-bold">NAME OF SCHOOL - (COLLEGE)</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-6 border-top border-dark">
            <label class="smallest fw-bold">BASIC EDUCATION/DEGREE/COURSE</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>

          <div class="col-3">
            <label class="smallest fw-bold">PERIOD OF ATTENDANCE</label>
            <p class="text-dark smallest m-0"><span>xx</span> to <span>xx</span></p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">HIGHEST LVL/UNITS EARNED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">YEAR GRADUATED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">SCHOLARSHIP/HONORS</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
        </div>
        <!-- COLLEGE -->

        <!-- GRADUATE STUDIES -->
        <div class="row m-0 p-0">

          <div class="col-6 border-top border-dark">
            <label class="smallest fw-bold">NAME OF SCHOOL - (GRADUATE STUDIES)</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-6 border-top border-dark">
            <label class="smallest fw-bold">BASIC EDUCATION/DEGREE/COURSE</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>

          <div class="col-3">
            <label class="smallest fw-bold">PERIOD OF ATTENDANCE</label>
            <p class="text-dark smallest m-0"><span>xx</span> to <span>xx</span></p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">HIGHEST LVL/UNITS EARNED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">YEAR GRADUATED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">SCHOLARSHIP/HONORS</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
        </div>
        <!-- GRADUATE STUDIES -->

      </section>
      <!-- educational background -->

      <!-- CIVIL SERVICE ELIGIBILITY -->
      <section>
        <h6 class="text-white bg-secondary fw-bolder fst-italic m-0 border-2 border-top border-dark">IV. CIVIL SERVICE ELIGIBILITY</h6>

        <div class="row m-0 p-0">

        </div>
      </section>
      <!-- CIVIL SERVICE ELIGIBILITY -->

      <footer>
        <div class="row m-0 p-0 border border-dark">
          <div class="col-6 border-end border-dark">
            <label class="small fw-bold">SIGNATURE</label>
            <p class="text-dark smallest m-0 text-uppercase"></p>
          </div>
          <div class="col-6">
            <label class="small fw-bold">DATE</label>
            <p class="text-dark smallest m-0 text-uppercase"></p>
          </div>
        </div>
      </footer>


    </div>
  </div>

  <script src="js/script.js"></script>
  <script src="res/bs-js/bootstrap.bundle.js"></script>
</body>

</html>