<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Presidential Communications Operations Office</title>
  <!-- css -->
  <link rel="icon" href="images/pcoo_logo.png" type="image">
  <link rel="stylesheet" href="res/bs-css/bootstrap.css">
  <link rel="stylesheet" href="css/pdsForm.css">
  
</head>

<body>

  <div class="position-fixed" style="bottom:5%; right:5%; z-index: 5;">
    <button class="btn btn-lg btn-light border-0" onclick="window.close();">Close</button>
    <button class="btn btn-lg btn-primary" onclick="window.print()">Print Document</button>
  </div>

  <div class="print-container">
    <div class="container-fluid m-0 p-0">

      <header>
        <p class="fst-italic fw-bold smaller m-0 p-0">CS Form No. 212</p>
        <p class="fst-italic fw-bold smallest m-0 p-0">Revised 2017</p>

        <h3 class="fw-bolder mt-0 pt-0 text-center" style="letter-spacing:5px">PERSONAL DATA SHEET</h3>

        <p class="smallest fw-bold m-0 p-0">WARNING: Any misrepresentation made in the Personal Data Sheet and the Work Experience Sheet shall cause the filing of administrative/criminal case/s against the person concerned.</p>

        <div class="row smallest fw-bold m-0">
          <div class="col-9"></div>
          <div class="col-3">
            CS ID No.:
            <span class="d-inline-block border-bottom border-dark w-50"></span>
          </div>
        </div>
      </header>

      <!-- personal info -->
      <section>
        <h6 class="text-white bg-secondary fw-bolder fst-italic m-0 border-2 border-top border-dark">I. PERSONAL INFORMATION</h6>

        <div class="row m-0 p-0">

          <div class="col-4">
            <label class="smallest fw-bold">SURNAME</label>
            <p class="text-dark smaller m-0 text-uppercase">uy-sobremonte</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">FIRST NAME</label>
            <p class="text-dark smaller m-0 text-uppercase">wilvin</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">MIDDLE NAME</label>
            <p class="text-dark smaller m-0 text-uppercase">chin</p>
          </div>
          <div class="col-2">
            <label class="smallest fw-bold">SUFFIX (JR,SR)</label>
            <p class="text-dark smaller m-0 text-uppercase"></p>
          </div>

        </div>

        <div class="row m-0 p-0 border-top border-2 border-dark">
          <!-- left -->
          <div class="col-6 p-0">
            <div class="row m-0 p-0 border-end border-2 border-dark">

              <div class="col-6 border-bottom border-end border-dark">
                <label class="smallest fw-bold">DATE OF BIRTH</label>
                <p class="text-dark smaller m-0 text-uppercase">oct 7,1997</p>
              </div>
              <div class="col-6 border-bottom border-dark">
                <label class="smallest fw-bold">PLACE OF BIRTH</label>
                <p class="text-dark smaller m-0 text-uppercase">Catbalogan, Samar</p>
              </div>

              <div class="col-6 border-bottom border-end border-dark">
                <label class="smallest fw-bold">SEX</label>
                <p class="text-dark smaller m-0 text-uppercase">MALE</p>
              </div>
              <div class="col-6 border-bottom border-dark">
                <label class="smallest fw-bold">CIVIL STATUS</label>
                <p class="text-dark smaller m-0 text-uppercase">single</p>
              </div>

              <div class="col-6 border-bottom border-end border-dark">
                <label class="smallest fw-bold">HEIGHT(m)</label>
                <p class="text-dark smaller m-0">1.68</p>
              </div>
              <div class="col-6 border-bottom border-dark">
                <label class="smallest fw-bold">WEIGHT</label>
                <p class="text-dark smaller m-0">78</p>
              </div>

              <div class="col-6 border-bottom border-end border-dark">
                <label class="smallest fw-bold">BLOOD TYPE</label>
                <p class="text-dark smaller m-0 text-uppercase">O+</p>
              </div>
              <div class="col-6 border-bottom border-dark">
                <label class="smallest fw-bold">GSIS ID NO.</label>
                <p class="text-dark smaller m-0">-----</p>
              </div>

              <div class="col-6 border-bottom border-end border-dark">
                <label class="smallest fw-bold">PAG-IBIG ID NO.</label>
                <p class="text-dark smaller m-0">-----</p>
              </div>
              <div class="col-6 border-bottom border-dark">
                <label class="smallest fw-bold">PHILHEALTH NO.</label>
                <p class="text-dark smaller m-0">-----</p>
              </div>

              <div class="col-6 border-bottom border-end border-dark">
                <label class="smallest fw-bold">SSS NO.</label>
                <p class="text-dark smaller m-0">-----</p>
              </div>
              <div class="col-6 border-bottom border-dark">
                <label class="smallest fw-bold">TIN NO.</label>
                <p class="text-dark smaller m-0">-----</p>
              </div>

              <div class="col-12 border-bottom border-dark">
                <label class="smallest fw-bold">AGENCY EMPLOYEE NO.</label>
                <p class="text-dark smaller m-0">-----</p>
              </div>

              <div class="col-6 border-bottom border-end border-dark">
                <label class="smallest fw-bold">TELEPHONE NO.</label>
                <p class="text-dark smaller m-0"></p>
              </div>
              <div class="col-6 border-bottom border-dark">
                <label class="smallest fw-bold">MOBILE NO.</label>
                <p class="text-dark smaller m-0">09568077618</p>
              </div>

              <div class="col-6">
                <label class="smallest fw-bold">EMAIL ADDRESS</label>
                <p class="text-dark smaller m-0">wilvin1007@gmail.com</p>
              </div>
            </div>
          </div>
          <!-- left -->

          <!-- right -->
          <div class="col-6 p-0">
            <div class="row m-0 p-0">

              <div class="col-4 border-bottom border-dark" style="padding-bottom: 1.3px;">
                <label class="smallest fw-bold">CITIZENSHIP</label>
                <p class="text-dark smallest m-0 text-uppercase">DUAL CITIZENSHIP</p>
              </div>
              <div class="col-4 border-bottom border-dark">
                <label class="smallest fw-bold"></label>
                <p class="text-dark smallest m-0 text-uppercase text-center">BY NATURALIZATION</p>
              </div>
              <div class="col-4 border-bottom border-dark">
                <label class="smallest fw-bold">COUNTRY</label>
                <p class="text-dark smallest m-0 text-uppercase">PHILIPPINES</p>
              </div>

              <!-- residential address -->
              <div class="col-12 border-bottom border-dark p-0" style="height: 165px;">
                <label class="smaller px-2 fw-bold">RESIDENTIAL ADDRESS</label>
                <div class="row m-0 p-0">

                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">House/Block/Lot No.</label>
                    <p class="text-dark smallest m-0 text-uppercase">1995</p>
                  </div>
                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">Street</label>
                    <p class="text-dark smallest m-0 text-uppercase">juan luna</p>
                  </div>

                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">Subdivision/Village</label>
                    <p class="text-dark smallest m-0 text-uppercase">landwealth metrohomes</p>
                  </div>
                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">Barangay</label>
                    <p class="text-dark smallest m-0 text-uppercase">151</p>
                  </div>

                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">City/Municipality</label>
                    <p class="text-dark smallest m-0 text-uppercase">Manila</p>
                  </div>
                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">Province</label>
                    <p class="text-dark smallest m-0 text-uppercase">----</p>
                  </div>

                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">ZIP CODE</label>
                    <p class="text-dark smallest m-0 text-uppercase">1012</p>
                  </div>


                </div>
              </div>
              <!-- residential address -->

              <!-- permanent address -->
              <div class="col-12 p-0">
                <label class="smaller px-2 fw-bold">PERMANENT ADDRESS</label>
                <div class="row m-0 p-0">

                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">House/Block/Lot No.</label>
                    <p class="text-dark smallest m-0 text-uppercase">1995</p>
                  </div>
                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">Street</label>
                    <p class="text-dark smallest m-0 text-uppercase">juan luna</p>
                  </div>

                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">Subdivision/Village</label>
                    <p class="text-dark smallest m-0 text-uppercase">landwealth metrohomes</p>
                  </div>
                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">Barangay</label>
                    <p class="text-dark smallest m-0 text-uppercase">151</p>
                  </div>

                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">City/Municipality</label>
                    <p class="text-dark smallest m-0 text-uppercase">Manila</p>
                  </div>
                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">Province</label>
                    <p class="text-dark smallest m-0 text-uppercase">----</p>
                  </div>

                  <div class="col-6 c-mt-06">
                    <label class="smallest fw-bold">ZIP CODE</label>
                    <p class="text-dark smallest m-0 text-uppercase">1012</p>
                  </div>


                </div>
              </div>
              <!-- permanent address -->


            </div>
          </div>
          <!-- right -->
        </div>

      </section>
      <!-- personal info -->

      <!-- family info -->
      <section>
        <h6 class="text-white bg-secondary fw-bolder fst-italic m-0 border-2 border-top border-dark">II. FAMILY BACKGROUND</h6>
        <!-- spouse -->
        <div class="row m-0 p-0">
          <div class="col-4">
            <label class="smallest fw-bold">SPOUSE'S SURNAME</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">FIRST NAME</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">MIDDLE NAME</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-2">
            <label class="smallest fw-bold">SUFFIX (JR,SR)</label>
            <p class="text-dark smallest m-0 text-uppercase"></p>
          </div>
        </div>
        <!-- spouse -->

        <div class="row m-0 p-0 border-top border-2 border-dark">
          <!-- left -->
          <div class="col-6 p-0">
            <div class="row m-0 p-0 border-end border-2 border-dark">

              <div class="col-6 border-bottom border-end border-dark">
                <label class="smallest fw-bold">OCCUPATION</label>
                <p class="text-dark smallest m-0 text-uppercase">-----</p>
              </div>
              <div class="col-6 border-bottom border-dark">
                <label class="smallest fw-bold">EMPLOYER/BUSINESS NAME</label>
                <p class="text-dark smallest m-0 text-uppercase">-----</p>
              </div>

              <div class="col-6 border-bottom border-end border-dark">
                <label class="smallest fw-bold">BUSINESS ADDRESS</label>
                <p class="text-dark smallest m-0 text-uppercase">-----</p>
              </div>
              <div class="col-6 border-bottom border-dark">
                <label class="smallest fw-bold">TELEPHONE NO.</label>
                <p class="text-dark smallest m-0 text-uppercase">-----</p>
              </div>

              <!-- motherfather -->
              <div class="row m-0 p-0 border-bottom border-dark">
                <div class="col-6">
                  <label class="smallest fw-bold">FATHER'S SURNAME</label>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                </div>
                <div class="col-6">
                  <label class="smallest fw-bold">FIRST NAME</label>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                </div>
                <div class="col-6">
                  <label class="smallest fw-bold">MIDDLE NAME</label>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                </div>
                <div class="col-6">
                  <label class="smallest fw-bold">SUFFIX (JR,SR)</label>
                  <p class="text-dark smallest m-0 text-uppercase"></p>
                </div>
              </div>

              <div class="row m-0 p-0">
                <div class="col-6">
                  <label class="smallest fw-bold">MOTHER'S MAIDEN NAME</label>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                </div>
                <div class="col-6">
                  <label class="smallest fw-bold">SURNAME</label>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                </div>
                <div class="col-6">
                  <label class="smallest fw-bold">FIRST NAME</label>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                </div>
                <div class="col-6">
                  <label class="smallest fw-bold">MIDDLE NAME</label>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                </div>
              </div>
              <!-- motherfather -->
            </div>
          </div>
          <!-- left -->

          <!-- right -->
          <div class="col-6 p-0">
            <div class="row m-0 p-0">
              <!-- children -->
              <div class="row m-0 p-0">

                <div class="col-6 border-end border-dark">
                  <label class="smallest fw-bold">NAME of CHILDREN</label>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                  <p class="text-dark smallest m-0 text-uppercase">-----</p>
                </div>
                <div class="col-6">
                  <label class="smallest fw-bold">DATE OF BIRTH</label>
                  <p class="text-dark smallest m-0">-----</p>
                  <p class="text-dark smallest m-0">-----</p>
                  <p class="text-dark smallest m-0">-----</p>
                </div>

              </div>
              <!-- children -->
            </div>
          </div>
          <!-- right -->
        </div>



      </section>
      <!-- family info -->

      <!-- educational background -->
      <section>
        <h6 class="text-white bg-secondary fw-bolder fst-italic m-0 border-2 border-top border-dark">III. EDUCATIONAL BACKGROUND</h6>
        <!-- elementary -->
        <div class="row m-0 p-0">

          <div class="col-6">
            <label class="smallest fw-bold">NAME OF SCHOOL - (ELEMENTARY)</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-6">
            <label class="smallest fw-bold">BASIC EDUCATION/DEGREE/COURSE</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>

          <div class="col-3">
            <label class="smallest fw-bold">PERIOD OF ATTENDANCE</label>
            <p class="text-dark smallest m-0"><span>xx</span> to <span>xx</span></p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">HIGHEST LVL/UNITS EARNED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">YEAR GRADUATED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">SCHOLARSHIP/HONORS</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
        </div>
        <!-- elementary -->

        <!-- secondary -->
        <div class="row m-0 p-0">

          <div class="col-6 border-top border-dark">
            <label class="smallest fw-bold">NAME OF SCHOOL - (SECONDARY)</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-6 border-top border-dark">
            <label class="smallest fw-bold">BASIC EDUCATION/DEGREE/COURSE</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>

          <div class="col-3">
            <label class="smallest fw-bold">PERIOD OF ATTENDANCE</label>
            <p class="text-dark smallest m-0"><span>xx</span> to <span>xx</span></p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">HIGHEST LVL/UNITS EARNED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">YEAR GRADUATED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">SCHOLARSHIP/HONORS</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
        </div>
        <!-- secondary -->

        <!-- VOCATIONAL / TRADE COURSE -->
        <div class="row m-0 p-0">

          <div class="col-6 border-top border-dark">
            <label class="smallest fw-bold">NAME OF SCHOOL - (VOCATIONAL / TRADE COURSE)</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-6 border-top border-dark">
            <label class="smallest fw-bold">BASIC EDUCATION/DEGREE/COURSE</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>

          <div class="col-3">
            <label class="smallest fw-bold">PERIOD OF ATTENDANCE</label>
            <p class="text-dark smallest m-0"><span>xx</span> to <span>xx</span></p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">HIGHEST LVL/UNITS EARNED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">YEAR GRADUATED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">SCHOLARSHIP/HONORS</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
        </div>
        <!-- VOCATIONAL / TRADE COURSE -->

        <!-- COLLEGE -->
        <div class="row m-0 p-0">

          <div class="col-6 border-top border-dark">
            <label class="smallest fw-bold">NAME OF SCHOOL - (COLLEGE)</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-6 border-top border-dark">
            <label class="smallest fw-bold">BASIC EDUCATION/DEGREE/COURSE</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>

          <div class="col-3">
            <label class="smallest fw-bold">PERIOD OF ATTENDANCE</label>
            <p class="text-dark smallest m-0"><span>xx</span> to <span>xx</span></p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">HIGHEST LVL/UNITS EARNED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">YEAR GRADUATED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">SCHOLARSHIP/HONORS</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
        </div>
        <!-- COLLEGE -->

        <!-- GRADUATE STUDIES -->
        <div class="row m-0 p-0">

          <div class="col-6 border-top border-dark">
            <label class="smallest fw-bold">NAME OF SCHOOL - (GRADUATE STUDIES)</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-6 border-top border-dark">
            <label class="smallest fw-bold">BASIC EDUCATION/DEGREE/COURSE</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>

          <div class="col-3">
            <label class="smallest fw-bold">PERIOD OF ATTENDANCE</label>
            <p class="text-dark smallest m-0"><span>xx</span> to <span>xx</span></p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">HIGHEST LVL/UNITS EARNED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">YEAR GRADUATED</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3">
            <label class="smallest fw-bold">SCHOLARSHIP/HONORS</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
        </div>
        <!-- GRADUATE STUDIES -->

      </section>
      <!-- educational background -->

      <!-- CIVIL SERVICE ELIGIBILITY -->
      <section>
        <h6 class="text-white bg-secondary fw-bolder fst-italic m-0 border-2 border-top border-dark">IV. CIVIL SERVICE ELIGIBILITY</h6>

        <div class="row m-0 p-0">

          <div class="col-6 border-dark border-end">
            <label class="smallest fw-bold">CAREER SERVICE/ RA 1080 (BOARD/ BAR) UNDER SPECIAL LAWS/CES/ CSEE BARANGAY ELIGIBILITY / DRIVER'S LICENSE</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3 border-dark border-end">
            <label class="smallest fw-bold">RATING (if Applicable)</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3 border-dark">
            <label class="smallest fw-bold">DATE OF EXAMINATION</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>

          <div class="col-6 border-dark border-end border-top">
            <label class="smallest fw-bold">PLACE OF EXAMINATION</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3 border-dark border-end border-top">
            <label class="smallest fw-bold">LICENSE NUMBER</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3 border-dark border-top">
            <label class="smallest fw-bold">DATE OF VALIDITY</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
        </div>
      </section>
      <!-- CIVIL SERVICE ELIGIBILITY -->

      <!-- WORK EXPERIENCE -->
      <section>
        <h6 class="text-white bg-secondary fw-bolder fst-italic m-0 border-2 border-top border-dark">V. WORK EXPERIENCE</h6>

        <div class="row m-0 p-0">
          <div class="col-3 border-dark border-end">
            <label class="smallest fw-bold">From / To</label>
            <p class="text-dark smallest m-0"><span>xx</span> to <span>xx</span></p>
          </div>
          <div class="col-3 border-dark border-end">
            <label class="smallest fw-bold">POSITION TITLE</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-6">
            <label class="smallest fw-bold">DEPARTMENT / AGENCY / OFFICE / COMPANY</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>

          <div class="col-3 border-dark border-end border-top">
            <label class="smallest fw-bold">MONTHLY SALARY</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3 border-dark border-end border-top">
            <label class="smallest fw-bold">SALARY/ JOB/ PAY GRADE</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3 border-dark border-end border-top">
            <label class="smallest fw-bold">STATUS OF APPOINTMENT</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
          <div class="col-3 border-dark border-top">
            <label class="smallest fw-bold">GOV'TSERVICE</label>
            <p class="text-dark smallest m-0 text-uppercase">-----</p>
          </div>
        </div>
      </section>
      <!-- WORK EXPERIENCE -->

      <!-- VOLUNTARY WORK OR INVOLVEMENT IN CIVIC / NON-GOVERNMENT / PEOPLE / VOLUNTARY ORG/S -->
      <section>
        <h6 class="text-white bg-secondary fw-bolder fst-italic m-0 border-2 border-top border-dark">VI. VOLUNTARY WORK OR INVOLVEMENT IN CIVIC / NON-GOVERNMENT / PEOPLE / VOLUNTARY ORG/S</h6>

        <div class="row m-0 p-0">
          <div class="col-6 border-dark border-end border-bottom">
            <label class="smallest fw-bold">NAME OF ORGANIZATION</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
          <div class="col-6 border-dark border-bottom">
            <label class="smallest fw-bold">ADDRESS OF ORGANIZATION</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>

          <div class="col-3 border-dark border-end">
            <label class="smallest fw-bold">From / To</label>
            <p class="text-dark smallest m-0"><span>xx</span> to <span>xx</span></p>
          </div>
          <div class="col-3 border-dark border-end">
            <label class="smallest fw-bold">NO. OF HOURS</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
          <div class="col-6">
            <label class="smallest fw-bold">POSITION / NATURE OF WORK</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
        </div>

      </section>
      <!-- VOLUNTARY WORK OR INVOLVEMENT IN CIVIC / NON-GOVERNMENT / PEOPLE / VOLUNTARY ORG/S -->

      <!-- LEARNING AND DEVELOPMENT (L&D) INTERVENTIONS/TRAINING PROGRAMS ATTENDED -->
      <section>
        <h6 class="text-white bg-secondary fw-bolder fst-italic m-0 border-2 border-top border-dark">VII. LEARNING AND DEVELOPMENT (L&D) INTERVENTIONS/TRAINING PROGRAMS ATTENDED</h6>

        <div class="row m-0 p-0">
          <div class="col-6 border-dark border-end">
            <label class="smallest fw-bold">TITLE OF LEARNING AND DEVELOPMENT INTERVENTIONS/TRAINING PROGRAMS</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
          <div class="col-3 border-dark border-end">
            <label class="smallest fw-bold">INCLUSIVE DATES From / To</label>
            <p class="text-dark smallest m-0"><span>xx</span> to <span>xx</span></p>
          </div>
          <div class="col-3 border-dark">
            <label class="smallest fw-bold">NO. OF HOURS</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>

          <div class="col-6 border-dark border-end border-top">
            <label class="smallest fw-bold">Type of LD ( Managerial/ Supervisory/ Technical/etc)</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
          <div class="col-6 border-dark border-top">
            <label class="smallest fw-bold">CONDUCTED/ SPONSORED BY (Write in full)</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
        </div>

      </section>
      <!-- LEARNING AND DEVELOPMENT (L&D) INTERVENTIONS/TRAINING PROGRAMS ATTENDED -->

      <!-- OTHER INFORMATION -->
      <section>
        <h6 class="text-white bg-secondary fw-bolder fst-italic m-0 border-2 border-top border-dark">VIII. OTHER INFORMATION</h6>

        <!-- text input -->
        <div class="row m-0 p-0">
          <div class="col-4 border-dark border-end border-bottom">
            <label class="smallest fw-bold">SPECIAL SKILLS and HOBBIES</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
          <div class="col-4 border-dark border-end border-bottom">
            <label class="smallest fw-bold">NON-ACADEMIC DISTINCTIONS / RECOGNITION</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
          <div class="col-4 border-dark border-bottom">
            <label class="smallest fw-bold">MEMBERSHIP IN ASSOCIATION/ORGANIZATION</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
        </div>
        <!-- text input -->

        <!-- questionnaires -->

        <!-- #34 -->
        <div class="row m-0 p-0">
          <div class="col-6 border-dark border-end">
            <label class="smallest fw-bold">Are you related by consanguinity or affinity to the appointing or recommending authority, or to chief of bureau or office or to the person who has immediate supervision over you in the Bureau or Department where you will be apppointed,</label>
          </div>
          <div class="col-6"></div>

          <div class="col-6 border-dark border-end">
            <label class="smallest fw-bold">a. within the third degree?</label>
          </div>
          <div class="col-6 border-dark">
            <label class="smallest">Yes</label>
          </div>

          <div class="col-6 border-dark border-end">
            <label class="smallest fw-bold">b. within the fourth degree (for Local Government Unit - Career Employees)?</label>
          </div>
          <div class="col-6 border-dark">
            <label class="smallest">Yes</label>
            <p class="text-dark smallest m-0 px-2">-----</p>
          </div>
        </div>
        <!-- #34 -->

        <!-- #35 -->
        <div class="row m-0 p-0 border-top border-dark">
          <div class="col-6 border-dark border-end">
            <label class="smallest fw-bold">a. Have you ever been found guilty of any administrative offense?</label>
          </div>
          <div class="col-6 border-dark">
            <label class="smallest">Yes</label>
            <p class="text-dark smallest m-0 px-2">-----</p>
          </div>

          <div class="col-6 border-dark border-end">
            <label class="smallest fw-bold">b. Have you been criminally charged before any court?</label>
          </div>
          <div class="col-6 border-dark">
            <label class="smallest">Yes</label>
            <p class="text-dark smallest m-0 px-2">Date Filed: </p>
            <p class="text-dark smallest m-0 px-2">Status of Case/s:</p>
          </div>
        </div>
        <!-- #35 -->

        <!-- #36 -->
        <div class="row m-0 p-0 border-top border-dark">
          <div class="col-6 border-dark border-end">
            <label class="smallest fw-bold">Have you ever been convicted of any crime or violation of any law, decree, ordinance or regulation by any court or tribunal?</label>
          </div>
          <div class="col-6 border-dark">
            <label class="smallest">Yes</label>
            <p class="text-dark smallest m-0 px-2">-----</p>
          </div>

        </div>
        <!-- #36 -->

        <!-- #37 -->
        <div class="row m-0 p-0 border-top border-dark">
          <div class="col-6 border-dark border-end">
            <label class="smallest fw-bold">Have you ever been separated from the service in any of the following modes: resignation, retirement, dropped from the rolls, dismissal, termination, end of term, finished contract or phased out (abolition) in the public or private sector?</label>
          </div>
          <div class="col-6 border-dark">
            <label class="smallest">Yes</label>
            <p class="text-dark smallest m-0 px-2">-----</p>
          </div>

        </div>
        <!-- #37 -->

        <!-- #38 -->
        <div class="row m-0 p-0 border-top border-dark">

          <div class="col-6 border-dark border-end">
            <label class="smallest fw-bold">a. Have you ever been a candidate in a national or local election held within the last year (except Barangay election)?</label>
          </div>
          <div class="col-6 border-dark">
            <label class="smallest">Yes</label>
            <p class="text-dark smallest m-0 px-2">-----</p>
          </div>

          <div class="col-6 border-dark border-end">
            <label class="smallest fw-bold">b. Have you resigned from the government service during the three (3)-month period before the last election to promote/actively campaign for a national or local candidate?</label>
          </div>
          <div class="col-6 border-dark">
            <label class="smallest">Yes</label>
            <p class="text-dark smallest m-0 px-2">-----</p>
          </div>
        </div>
        <!-- #38 -->

        <!-- #39 -->
        <div class="row m-0 p-0 border-top border-dark">
          <div class="col-6 border-dark border-end">
            <label class="smallest fw-bold">Have you acquired the status of an immigrant or permanent resident of another country?</label>
          </div>
          <div class="col-6 border-dark">
            <label class="smallest">Yes</label>
            <p class="text-dark smallest m-0 px-2">-----</p>
          </div>

        </div>
        <!-- #39 -->

        <!-- #40 -->
        <div class="row m-0 p-0 border-top border-dark">
          <div class="col-6 border-dark border-end">
            <label class="smallest fw-bold">Pursuant to: (a) Indigenous People's Act (RA 8371); (b) Magna Carta for Disabled Persons (RA 7277); and (c) Solo Parents Welfare Act of 2000 (RA 8972), please answer the following</label>
          </div>
          <div class="col-6"></div>

          <div class="col-6 border-dark border-end">
            <label class="smallest fw-bold">a. Are you a member of any indigenous group?</label>
          </div>
          <div class="col-6 border-dark">
            <label class="smallest">Yes</label>
            <p class="text-dark smallest m-0 px-2">-----</p>
          </div>

          <div class="col-6 border-dark border-end">
            <label class="smallest fw-bold">b. Are you a person with disability?</label>
          </div>
          <div class="col-6 border-dark">
            <label class="smallest">Yes</label>
            <p class="text-dark smallest m-0 px-2">-----</p>
          </div>

          <div class="col-6 border-dark border-end">
            <label class="smallest fw-bold">c. Are you a solo parent?</label>
          </div>
          <div class="col-6 border-dark">
            <label class="smallest">Yes</label>
            <p class="text-dark smallest m-0 px-2">-----</p>
          </div>

        </div>
        <!-- #40 -->
        <!-- questionnaires -->
      </section>
      <!-- OTHER INFORMATION -->

      <!-- REFERENCES -->
      <section>
        <h6 class="text-white bg-secondary fw-bolder fst-italic m-0 border-2 border-top border-dark"> REFERENCES</h6>

        <div class="row m-0 p-0">
          <div class="col-5 border-dark border-end border-bottom">
            <label class="smallest fw-bold">Name</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
          <div class="col-5 border-dark border-end border-bottom">
            <label class="smallest fw-bold">Address</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
          <div class="col-2 border-dark border-end border-bottom">
            <label class="smallest fw-bold">Contact No.</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
        </div>

        <div class="row m-0 p-0">
          <div class="col-5 border-dark border-end border-bottom">
            <label class="smallest fw-bold">Name</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
          <div class="col-5 border-dark border-end border-bottom">
            <label class="smallest fw-bold">Address</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
          <div class="col-2 border-dark border-end border-bottom">
            <label class="smallest fw-bold">Contact No.</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
        </div>

        <div class="row m-0 p-0">
          <div class="col-5 border-dark border-end border-bottom">
            <label class="smallest fw-bold">Name</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
          <div class="col-5 border-dark border-end border-bottom">
            <label class="smallest fw-bold">Address</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
          <div class="col-2 border-dark border-end border-bottom">
            <label class="smallest fw-bold">Contact No.</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
        </div>

      </section>
      <!-- REFERENCES -->

      <!-- GOVERNMENT ISSUED ID -->
      <section>
        <h6 class="text-white bg-secondary fw-bolder fst-italic m-0 border-2 border-top border-dark">GOVERNMENT ISSUED ID</h6>

        <div class="row m-0 p-0">
          <div class="col-6 border-dark border-end border-bottom">
            <label class="smallest fw-bold">Government Issued ID:</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
          <div class="col-6 border-dark border-end border-bottom">
            <label class="smallest fw-bold">ID/License/Passport No.:</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>

          <div class="col-6 border-dark border-end border-bottom">
            <label class="smallest fw-bold">Date of Issuance:</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>
          <div class="col-6 border-dark border-end border-bottom">
            <label class="smallest fw-bold">Place of Issuance:</label>
            <p class="text-dark smallest m-0">-----</p>
          </div>

        </div>
      </section>
      <!-- GOVERNMENT ISSUED ID -->

      <!-- STATEMENT -->
      <section>
        <p class="text-dark smallest p-1 px-3 fw-bold border-top border-dark border-2" style="text-align: justify;">I declare under oath that I have personally accomplished this Personal Data Sheet which is a true, correct and complete statement pursuant to the provisions of pertinent laws, rules and regulations of the Republic of the Philippines. I authorize the agency head/authorized representative to verify/validate the contents stated herein. I agree that any misrepresentation made in this document and its attachments shall cause the filing of administrative/criminal case/s against me.</p>
      </section>
      <!-- STATEMENT -->

      <!-- ATTACHMENTS -->
      <section class="attachments">

        <div class="row m-0 p-0 border-dark border-2 border-top">

          <div class="col-3 pb-2 border-dark border-end">
            <p class="smallest text-center m-0 py-1">PHOTO</p>
            <div class="pds-thumbnail">
              <img src="images/sample.png" alt="">
            </div>
          </div>

          <div class="col-6 pb-2 border-dark border-end">
            <p class="smallest text-center m-0 py-1">SIGNATURE (Sign inside the box)</p>
            <div class="pds-sign"></div>
            <span class="mt-4 pt-2 d-block m-auto w-75 border-dark border-bottom"></span>
            <p class="smallest text-center m-0 py-1">Date Accomplished </p>
          </div>

          <div class="col-3 pb-2">
            <p class="smallest text-center m-0 py-1">RIGHT THUMBMARK</p>
            <div class="pds-thumbmark">

            </div>
          </div>

        </div>

        <div class="row m-0 p-0 border-dark border-2 border-top">
          <div class="col-12 pt-2">
            <p class="smallest m-0 py-1">
              SUBSCRIBED AND SWORN to before me this
              <span class="d-inline-block w-25 pt-3 border-dark border-bottom"></span>
              , affiant exhibiting his/her validly issued government ID as indicated above.
            </p>
          </div>
          <div class="col py-2 d-flex justify-content-center align-content-center">
            <div class="card border-2 border-dark" style="height:150px; width: 40%;">
              <div class="card-body">
              </div>
              <div class="card-footer border-2 border-top border-dark smaller text-center fw-bolder">
                Person Administering Oath
              </div>
            </div>
          </div>
        </div>

      </section>
      <!-- ATTACHMENTS -->


      <footer>
        <div class="row m-0 p-0 border-2 border-top border-bottom border-dark">
          <div class="col-6 py-3 border-end border-dark">
            <label class="small fw-bold">SIGNATURE</label>
            <p class="text-dark smallest m-0 text-uppercase"></p>
          </div>
          <div class="col-6 py-3">
            <label class="small fw-bold">DATE</label>
            <p class="text-dark smallest m-0 text-uppercase"></p>
          </div>
        </div>
      </footer>


    </div>
  </div>

  <script src="js/script.js"></script>
  <script src="res/bs-js/bootstrap.bundle.js"></script>
</body>

</html>