<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Presidential Communications Operations Office</title>
  <!-- css -->
  <link rel="icon" href="images/pcoo_logo.png" type="image">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="res/bs-css/bootstrap.css">
  <link rel="stylesheet" href="res/dataTables/css/dataTables.bootstrap5.min.css">

  <!-- links -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <!-- sidebar -->
  <div class="sidebar">

    <div class="logo-details">
      <i class='icon'>
        <img src="images/pcoo_logo.png">
      </i>
      <div class="logo_name">PCOO</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>

    <ul class="nav-list ">

      <!-- links -->
      <li>
        <a href="dashboard.html">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>

      <li>
        <a href="pds.html">
          <i class='bx bx-spreadsheet'></i>
          <span class="links_name">Personal Data Sheet</span>
        </a>
        <span class="tooltip">Personal Data Sheet</span>
      </li>

      <li>
        <a href="einfo.html">
          <i class='bx bx-user'></i>
          <span class="links_name">Employment Info</span>
        </a>
        <span class="tooltip">Employment Info</span>
      </li>

      <li>
        <a href="erecords.html">
          <i class='bx bx-folder'></i>
          <span class="links_name">Employment Records</span>
        </a>
        <span class="tooltip">Employment Records</span>
      </li>

      <li>
        <a href="request.html" class="highlight">
          <i class='bx bx-file-blank'></i>
          <span class="links_name">Request Form</span>
        </a>
        <span class="tooltip">Request Form</span>
      </li>

      <li>
        <a href="settings.html">
          <i class='bx bx-cog'></i>
          <span class="links_name">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
      <!-- links -->

      <li class="profile">
        <div class="profile-details">
          <img src="images/sample.png" alt="profileImg">
          <div class="name_job">
            <div class="name">Kyle De Mesa</div>
            <div class="job">Secretary</div>
          </div>
        </div>

        <i type="button" class='bx bx-log-out' id="log_out" onclick="location.href='index.html'"></i>

      </li>

    </ul>

  </div>
  <!-- sidebar -->

  <main class="home-section">

    <div class="text">Request Form</div>

    <div class="container-xl px-4">

      <section class="col-md-6 mb-4">
        <label class="text-muted lead ms-2" for="">Select Request Type</label>
        <select class="form-select" id="select_request" name="" onchange="request_type()">
          <option value="" selected hidden></option>
          <option value="ID Request Form">ID Request Form</option>
          <option value="Personnel Request Form">Personnel Request Form</option>
        </select>
      </section>

      <!-- ID Request Form -->
      <section class="py-2 border-4 border-top border-primary rounded" id="id_request_div" style="display: none;">
        <h4 class="text-primary">ID Request Form</h5>
          <h6 class="mt-3">Personal Information (required)</h6>

          <form action="" id="id_request_form" class="row gy-2 gx-2" autocomplete="off">
            <div class="col-md-4">
              <label for="reqID_surname" class="text-muted small ms-2">SURNAME <span class="text-danger">*</span></label>
              <input type="text" name="reqID_surname" id="reqID_surname" class="form-control" onkeyup="lettersOnly(this)" required>
            </div>
            <div class="col-md-4">
              <label for="reqID_firstName" class="text-muted small ms-2">FIRST NAME <span class="text-danger">*</span></label>
              <input type="text" name="reqID_first_name" id="reqID_firstName" class="form-control" onkeyup="lettersOnly(this)" required>
            </div>
            <div class="col-md-4">
              <label for="reqID_middleName" class="text-muted small ms-2">MIDDLE NAME</label>
              <input type="text" name="reqID_middle_name" id="reqID_middleName" onkeyup="lettersOnly(this)" class="form-control">
            </div>

            <div class="col-6 col-md-4">
              <label for="reqID_birthDate" class="text-muted small ms-2">DATE OF BIRTH <span class="text-danger">*</span></label>
              <input type="text" name="reqID_birth_date" id="reqID_birthDate" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" required>
            </div>
            <div class="col-4 col-md-4">
              <label for="reqID_contact" class="text-muted small ms-2">CONTACT NO. <span class="text-danger">*</span></label>
              <input name="reqID_contact" onInput="lengthValidation(this)" id="reqID_contact" type="number" maxlength="11" class="form-control" pattern="[0]{1}[9]{1}[0-9]{9}" required>
            </div>
            <div class="col-2 col-md-4">
              <label for="bloodType" class="text-muted small ms-2">BLOOD TYPE <span class="text-danger">*</span></label>
              <input name="pds_blood_type" id="bloodType" type="text" class="form-control" required>
            </div>

            <div class="col-12">
              <label for="reqID_address" class="text-muted small ms-2">ADDRESS <span class="text-danger">*</span></label>
              <input name="reqID_address" id="reqID_address" type="text" class="form-control">
            </div>

            <div class="col-6">
              <label for="reqID_position" class="text-muted small ms-2">POSITION <span class="text-danger">*</span></label>
              <input name="reqID_position" id="reqID_position" type="text" class="form-control">
            </div>
            <div class="col-6">
              <label for="reqID_GSIS/SSS" class="text-muted small ms-2">GSIS/SSS No <span class="text-danger">*</span></label>
              <input name="reqID_GSIS/SSS" id="reqID_GSIS/SSS" type="text" class="form-control">
            </div>
            <div class="col-6">
              <label for="reqID_tin" class="text-muted small ms-2">TAX IDENTIFICATION NO. <span class="text-danger">*</span></label>
              <input name="reqID_tin" id="reqID_tin" type="text" class="form-control">
            </div>
            <div class="col-6">
              <label for="reqID_fund" class="text-muted small ms-2">FUND SOURCE <span class="text-danger">*</span></label>
              <input name="reqID_fund" id="reqID_fund" type="text" class="form-control">
            </div>

            <label class="text-muted small ms-2">APPOINTMENT STATUS: <span class="text-danger">*</span></label>
            <!-- PERMANENT -->
            <div class="col-4 ">
              <div class="form-check form-check-inline form-switch d-flex gap-2 justify-content-center">
                <input class="form-check-input" type="radio" id="reqID_permanent" name="appointmentStatus" onclick="showPermanent()" value="">
                <label class="form-check-label" for="reqID_permanent">PERMANENT</label>
              </div>
              <div id="reqID_appointment_show_permanent" style="display:none">
                <label class="text-muted small ms-2">Date of appointment:</label>
                <input class="form-control" type="date" name="" id="reqID_appointment_text_permanent">
              </div>
            </div>
            <!-- PERMANENT -->

            <!-- ISS/COTERMINOUS -->
            <div class="col-4">
              <div class="form-check form-check-inline form-switch d-flex gap-2 justify-content-center">
                <input class="form-check-input" type="radio" id="reqID_iss" name="appointmentStatus" onclick="showISS()" value="">
                <label class="form-check-label" for="reqID_iss">ISS/COTERMINOUS</label>
              </div>
              <div id="reqID_appointment_show_iss" style="display: none;">
                <label class="text-muted small ms-2">Date of appointment:</label>
                <input class="form-control" type="date" name="" id="reqID_appointment_text_iss">
              </div>
            </div>
            <!-- ISS/COTERMINOUS -->

            <!-- CONTRACT OF SERVICE -->
            <div class="col-4">
              <div class="form-check form-check-inline form-switch d-flex gap-2 justify-content-center">
                <input class="form-check-input" type="radio" id="reqID_contractService" name="appointmentStatus" onclick="showcontractService()" value="">
                <label class="form-check-label" for="reqID_contractService">CONTRACT OF SERVICE</label>
              </div>
              <div id="reqID_appointment_show_contractService" style="display: none;">
                <label class="text-muted small ms-2">Date of appointment:</label>
                <input class="form-control" type="text" name="" id="reqID_appointment_text_contractService">
              </div>
            </div>
            <!-- CONTRACT OF SERVICE -->

            <div class="col-md-6">
              <label for="reqID_contactPerson" class="text-muted small ms-2">CONTACT PERSON <span class="text-danger">*</span></label>
              <input name="reqID_contactPerson" id="reqID_contactPerson" type="text" class="form-control">
            </div>

            <div class="col-md-6">
              <label for="reqID_contactPersonNo" class="text-muted small ms-2">CONTACT NO. <span class="text-danger">*</span></label>
              <input name="reqID_contactPersonNo" id="reqID_contactPersonNo" type="text" class="form-control">
            </div>

            <div class="col my-4 d-flex justify-content-end">
              <button type="submit" form="id_request_form" class="btn btn-primary">Submit</button>
            </div>
          </form>
      </section>
      <!-- ID Request Form -->


      <!-- Personnel Request Form -->
      <section class="py-2 border-4 border-top border-primary rounded-top" id="personnel_request_div" style="display: none;">
        <h5 class="text-primary">Personnel Request Form</h5>

        <form action="" id="personnel_request_form" autocomplete="off">
          <!-- textfields -->
          <div class="row gy-2 gx-2">
            <div class="col-md-6">
              <label for="reqPer_fullName" class="text-muted small ms-2">Complete Name </label>
              <input type="text" name="reqPer_fullName" id="reqPer_fullName" class="form-control" onkeyup="lettersOnly(this)" required>
            </div>
            <div class="col-md-6">
              <label for="reqPer_date" class="text-muted small ms-2">DATE </label>
              <input type="text" name="reqPer_date" id="reqPer_date" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" required>
            </div>
            <div class="col-md-6">
              <label for="reqPer_position" class="text-muted small ms-2">Position/Designation </label>
              <input type="text" name="reqPer_position" id="reqPer_position" class="form-control" onkeyup="lettersOnly(this)" required>
            </div>
            <div class="col-md-6">
              <label for="reqPer_office" class="text-muted small ms-2">Office </label>
              <input type="text" name="reqPer_office" id="reqPer_office" class="form-control" onkeyup="lettersOnly(this)" required>
            </div>
          </div>
          <!-- textfields -->

          <h6 class="mt-3">Employment Status:</h6>

          <!-- employment status -->
          <div class="row gy-2 gx-2 px-3 px-md-5">

            <div class="col-6">
              <div class="form-check form-check-inline form-switch d-flex gap-2">
                <input class="form-check-input" type="radio" id="reqPer_contractOfService" name="employmentStatus" onclick="hideDateSep()" value="">
                <label class="form-check-label" for="reqPer_contractOfService">Contract of Service</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-check form-check-inline form-switch d-flex gap-2">
                <input class="form-check-input" type="radio" id="reqPer_ISS" name="employmentStatus" onclick="hideDateSep()" value="">
                <label class="form-check-label" for="reqPer_ISS">ISS/Coterminous</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-check form-check-inline form-switch d-flex gap-2">
                <input class="form-check-input" type="radio" id="reqPer_regular" name="employmentStatus" onclick="hideDateSep()" value="">
                <label class="form-check-label" for="reqPer_regular">Regular</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-check form-check-inline form-switch d-flex gap-2">
                <input class="form-check-input" type="radio" id="reqPer_separated" name="employmentStatus" onclick="showDateSep()" value="">
                <label class="form-check-label" for="reqPer_separated">Separated</label>
                <input type="text" name="reqPer_dateSeparated" id="reqPer_dateSeparated" class="form-control ms-3 w-75" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Date of Separation" style="display: none;" required>
              </div>
            </div>
            <div class="col-6">
              <div class="form-check form-check-inline form-switch d-flex gap-2">
                <input class="form-check-input" type="radio" id="reqPer_contractual" name="employmentStatus" onclick="hideDateSep()" value="">
                <label class="form-check-label" for="reqPer_contractual">Contractual/Casual</label>
              </div>
            </div>

          </div>
          <!-- employment status -->

          <h6 class="mt-3">Please check the circle corresponding to your request:</h6>

          <!-- request selection -->
          <div class="row gy-2 gx-2 px-3 px-md-5">

            <div class="col-12">
              <div class="form-check form-check-inline form-switch d-flex gap-2">
                <input class="form-check-input" type="radio" id="reqPer_coe" name="requestType" onclick="" value="">
                <label class="form-check-label" for="reqPer_coe">Certificate of Employment/Engagement (COE)</label>
              </div>
            </div>

            <div class="col-12">
              <div class="form-check form-check-inline form-switch d-flex gap-2">
                <input class="form-check-input" type="radio" id="reqPer_coeCompensation" name="requestType" onclick="" value="">
                <label class="form-check-label" for="reqPer_coeCompensation">Certificate of Employment/Engagement with compensation</label>
              </div>
            </div>

            <div class="col-12">
              <div class="form-check form-check-inline form-switch d-flex gap-2">
                <input class="form-check-input" type="radio" id="reqPer_colc" name="requestType" onclick="hideOptionsCTC()" value="">
                <label class="form-check-label" for="reqPer_colc">Certificate of Leave Credits (For Officials/Regular employees only)</label>
              </div>
            </div>

            <div class="col-12">
              <div class="form-check form-check-inline form-switch d-flex gap-2">
                <input class="form-check-input" type="radio" id="reqPer_ctc" name="requestType" onclick="showOptionsCTC()" value="">
                <label class="form-check-label" for="reqPer_ctc">Certified true copy of:</label>
              </div>
              <div class="col-md-6 px-md-5 px-4">
                <div class="form-check form-check-inline d-flex gap-2">
                  <input class="form-check-input" type="radio" id="reqPer_apptPaper" name="ctc" onclick="" value="" disabled>
                  <label class="form-check-label" for="reqPer_apptPaper">Appointment Paper</label>
                </div>
                <div class="form-check form-check-inline d-flex gap-2">
                  <input class="form-check-input" type="radio" id="reqPer_oath" name="ctc" onclick="" value="" disabled>
                  <label class="form-check-label" for="reqPer_oath">Oath of Office</label>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-check form-check-inline form-switch d-flex gap-2">
                <input class="form-check-input" type="radio" id="reqPer_conpc" name="requestType" onclick="" value="">
                <label class="form-check-label" for="reqPer_conpc">Certificate of No Pending Case (For Officials/Regular employees only)</label>
              </div>
            </div>

            <div class="col-12">
              <div class="form-check form-check-inline form-switch d-flex gap-2">
                <input class="form-check-input" type="radio" id="reqPer_csa" name="requestType" onclick="" value="">
                <label class="form-check-label" for="reqPer_csa">Contract Service Agreement:</label>
              </div>
            </div>

            <div class="col-12">
              <div class="form-check form-check-inline form-switch d-flex gap-2">
                <input class="form-check-input" type="radio" id="reqPer_saln" name="requestType" onclick="" value="">
                <label class="form-check-label" for="reqPer_saln">SALN Copy </label>
              </div>
            </div>

            <div class="col-12">
              <div class="form-check form-check-inline form-switch d-flex gap-2">
                <input class="form-check-input" type="radio" id="reqPer_sr" name="requestType" onclick="" value="">
                <label class="form-check-label" for="reqPer_sr">Service Record (For Officials/Regular employees only)</label>
              </div>
            </div>

          </div>
          <!-- request selection -->
        </form>
      </section>
      <!-- Personnel Request Form -->
    </div>

  </main>

  <script>
    
  </script>
  <!-- scripts -->
  <script src="js/script.js"></script>
  <script src="res/bs-js/bootstrap.bundle.js"></script>
  <script src="res/dataTables/js/jquery-3.5.1.js"></script>
  <script src="res/dataTables/js/jquery.dataTables.min.js"></script>
  <script src="res/dataTables/js/dataTables.bootstrap5.min.js"></script>
  <script src="res/dataTables/js/main.js"></script>


</body>

</html>