<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Presidential Communications Operations Office</title>
  <!-- css -->
  <link rel="icon" href="images/pcoo_logo.png" type="image">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="res/bs-css/bootstrap.css">
  <link rel="stylesheet" href="res/dataTables/css/dataTables.bootstrap5.min.css">

  <!-- links -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <style>
    :root {
      --custom-primary: #2a448f;
    }

    .dimension {
      width: 300px;
    }

    .nav-tabs .nav-link.active {
      background-color: var(--custom-primary);
      color: #fff;
      border: 2px solid var(--custom-primary);
    }

    .nav-tabs .nav-link {
      background-color: #fff;
      color: var(--custom-primary);
      margin-right: .2rem;
    }

    .nav-tabs .nav-link:hover {
      border: 2px solid var(--custom-primary);
      background-color: var(--custom-primary);
      color: #000;
    }

    .nav-tabs {
      border-bottom: 1px solid var(--custom-primary);
    }

    .tab-content {
      border-top: 1px solid var(--custom-primary);
      padding: 20px;
    }
  </style>
</head>

<body>
  <!-- sidebar -->
  <div class="sidebar">

    <div class="logo-details">
      <i class='icon'>
        <img src="images/pcoo_logo.png">
      </i>
      <div class="logo_name">PCOO</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>

    <ul class="nav-list ">

      <!-- links -->
      <li>
        <a href="dashboard.html">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>

      <li>
        <a href="pds.html">
          <i class='bx bx-spreadsheet'></i>
          <span class="links_name">Personal Data Sheet</span>
        </a>
        <span class="tooltip">Personal Data Sheet</span>
      </li>

      <li>
        <a href="einfo.html">
          <i class='bx bx-user'></i>
          <span class="links_name">Employment Info</span>
        </a>
        <span class="tooltip">Employment Info</span>
      </li>

      <li>
        <a href="erecords.html">
          <i class='bx bx-folder'></i>
          <span class="links_name">Employment Records</span>
        </a>
        <span class="tooltip">Employment Records</span>
      </li>

      <li>
        <a href="request.html">
          <i class='bx bx-file-blank'></i>
          <span class="links_name">Request Form</span>
        </a>
        <span class="tooltip">Request Form</span>
      </li>

      <li>
        <a href="settings.html" class="highlight">
          <i class='bx bx-cog'></i>
          <span class="links_name">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
      <!-- links -->

      <li class="profile">
        <div class="profile-details">
          <img src="images/sample.png" alt="profileImg">
          <div class="name_job">
            <div class="name">Kyle De Mesa</div>
            <div class="job">Secretary</div>
          </div>
        </div>

        <i type="button" class='bx bx-log-out' id="log_out" onclick="location.href='index.html'"></i>

      </li>

    </ul>

  </div>
  <!-- sidebar -->

  <main class="home-section">
    <div class="text">Settings</div>

    <div class="container mt-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#contact">Contact</a>
        </li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane active" id="home">
          <div class="row border g-0 rounded shadow-sm">
            <div class="col p-4">
              <h3>Home</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
            </div>
            <div class="col-auto">
              <img src="images/sample.png" class="img-thumbnail dimension">
            </div>
          </div>
        </div>

        <div class="tab-pane" id="profile">
          <div class="row border g-0 rounded shadow-sm">
            <div class="col p-4">
              <h3>Profile</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
            </div>
            <div class="col-auto">
              <img src="images/pcoo_logo.png" class="img-thumbnail dimension">
            </div>
          </div>
        </div>

        <div class="tab-pane" id="contact">
          <div class="row border g-0 rounded shadow-sm">
            <div class="col p-4">
              <h3>Contact</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, qui! Aperiam, aut repellendus similique id dolor quae porro et, explicabo earum nemo modi cumque molestias perspiciatis dicta labore ipsa iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur praesentium reiciendis, rem tenetur asperiores illo quod voluptas similique, animi nam ipsum alias nemo ea perferendis est ut, dolor eos? Repellat.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>

  <!-- scripts -->
  <script src="js/script.js"></script>
  <script src="res/bs-js/bootstrap.bundle.js"></script>
  <script src="res/dataTables/js/jquery-3.5.1.js"></script>
  <script src="res/dataTables/js/jquery.dataTables.min.js"></script>
  <script src="res/dataTables/js/dataTables.bootstrap5.min.js"></script>
  <script src="res/dataTables/js/main.js"></script>

</body>

</html>