<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Presidential Communications Operations Office</title>
  <!-- css -->
  <link rel="icon" href="images/pcoo_logo.png" type="image">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="res/bs-css/bootstrap.css">
  <link rel="stylesheet" href="res/dataTables/css/dataTables.bootstrap5.min.css">

  <!-- links -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <style>
    :root {
      --custom-primary: #2a448f;
    }

    .img-thumbnail {
      width: 220px;
      border-radius: 100%;
      border-color: var(--custom-primary);
      border-width: 3px;
      object-fit: cover;
      object-position: center;
      background-color: #fff;
    }

    .nav-tabs .nav-link.active {
      background-color: var(--custom-primary);
      color: #fff;
      border: 2px solid var(--custom-primary);
    }

    .nav-tabs .nav-link {
      background-color: #fff;
      color: var(--custom-primary);
      margin-right: .2rem;
    }

    .nav-tabs .nav-link:hover {
      background-color: var(--custom-primary);
      color: #fff;
    }

  </style>
</head>

<body>
  <!-- sidebar -->
  <my-sidebar></my-sidebar>
  <!-- sidebar -->

  <main class="home-section">
    <div class="text">Settings</div>

    <div class="container mt-2">
      <div class="row">
        <div class="col-lg-4 col-xl-2">

          <ul class="nav nav-tabs d-flex flex-column">
            <!-- <li class="nav-item my-1">
              <a class="nav-link active" data-bs-toggle="tab" href="#home">Home</a>
            </li> -->
            <li class="nav-item my-1">
              <a class="nav-link active" data-bs-toggle="tab" href="#profile">Profile</a>
            </li>
            <li class="nav-item my-1">
              <a class="nav-link" data-bs-toggle="tab" href="#contact">Password</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-8 col-xl-10">
          <div class="tab-content">

            <!-- <div class="tab-pane active" id="home">
              <div class="row border g-0 rounded shadow-sm">
                <div class="col-lg-8 p-4">
                  <h3>Home</h3>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                  </p>
                </div>
                <div class="col-lg-4">
                  <img src="images/sample.png" class="img-thumbnail dimension">
                </div>
              </div>
            </div> -->

            <div class="tab-pane active" id="profile">
              <div class="row border g-0 rounded shadow-sm">
                
                <div class="col-lg-8 p-4">
                  <h3>Profile</h3>
                  <div class="row gy-2">
                    <div class="col">
                      <label class="text-muted small ms-2" for="">Name</label>
                      <input type="text" class="form-control" name="" id="">
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <img src="images/sample.png" class="img-thumbnail">
                </div>
              </div>
            </div>

            <div class="tab-pane" id="contact">
              <form class="row border g-0 rounded shadow-sm" action="#" autocomplete="off">

                <div class="col p-4">
                  <h3>Password</h3>

                  <div class="row gy-3">

                    <div class="col-lg-6 mt-5">
                      <label class="text-muted small ms-2" for="">Old password</label>
                      <input type="text" class="form-control" name="" id="">
                    </div>
                    <div class="col-lg-6"></div>

                    <div class="col-lg-6">
                      <label class="text-muted small ms-2" for="">New password</label>
                      <input type="text" class="form-control" name="" id="">
                    </div>
                    <div class="col-lg-6">
                      <label class="text-muted small ms-2" for="">Confirm new password</label>
                      <input type="text" class="form-control" name="" id="">
                    </div>

                    <div class="col-12 mt-5">
                      <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                  </div>

                </div>
                
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- scripts -->
  <script src="js/assets.js"></script>
  <script src="js/script.js"></script>
  <script src="res/bs-js/bootstrap.bundle.js"></script>
  <script src="res/dataTables/js/jquery-3.5.1.js"></script>
  <script src="res/dataTables/js/jquery.dataTables.min.js"></script>
  <script src="res/dataTables/js/dataTables.bootstrap5.min.js"></script>
  <script src="res/dataTables/js/main.js"></script>

</body>

</html>